body {
  background: #0b3d2e;
  color: white;
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

button, input {
  padding: 12px;
  margin: 5px;
  font-size: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards img {
  width: 18vw;
  max-width: 80px;
  margin: 4px;
  border-radius: 8px;
  transition: 0.2s;
}

.cards img:active {
  transform: scale(1.2);
}
